.seguros-fundo {
  background-color: var(--cor-11);
}

.seguros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 40px;
  align-items: center;
}

.seguros h2 {
  grid-column: 1/-1;
  margin-bottom: 20px;
}

.planos-seguros {
  background-color: var(--cor-12);
  padding: 32px 32px 32px 60px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.planos-seguros span {
  grid-column: 2;
  display: block;
  text-align: right;
}

.planos-seguros ul {
  grid-column: 1/-1;
  margin-bottom: 2rem;
}

.planos-seguros a {
  grid-column: 1/-1;
}

.planos-seguros li + li {
  margin-top: 20px;
}

.planos-seguros li {
  display: flex;
  position: relative;
  align-items: center;
}

.planos-seguros li::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 9px;
  background-image: url("/img/icones/lista.svg");
  position: absolute;
  left: -21px;
}

#seguros .seguros {
  padding-top: 0px;
}

@media (max-width: 800px) {
  .seguros {
    grid-template-columns: 1fr;
  }
}
